:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

nav {
    background-color: var(--secondary-color);
}

.socialmedia a {
    width: 40px;
    height: auto;

}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

* .socialmedia img {
    width: 40px !important;
    height: 40px !important;
}

/*HERO */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}