:root {
    --primary-color: #0b355f;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    background-image: url("../images/hero-1024.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    text-align: center;
    padding: 100px 40px;
}

RESET */ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER - GRID */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 1rem;
    background-color: #9277ff60;
}

header img {
    width: 120px;
}

/* NAV - FLEX */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0077b6;
}

.hero {
    position: relative;
}

/* HERO */
.hero {
    text-align: center;
    padding: 3rem;
    background-color: #0077b6;
    color: white;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    /* mete yo sou yon liy */
    justify-content: end;
    /* mete yo sou bò dwat */
    gap: 10px;
    /* ti espas */
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 8px 10px;
    /* ti padding pou yo pa kole twòp */
    color: black;
}

/* HISTORY SECTION */
.history {
    padding: 2rem;
    text-align: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.history img {
    width: 100%;
}

* ADVENTURES */ .adventures {
    padding: 2rem;
    text-align: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #9277ff60;
    margin-top: 2rem;
}

.social {
    display: flex;
    gap: 1rem;
}

.social img {
    width: 30px;
}