body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}

caption {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140) Letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgd(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgd(0 0 0);
    color: white;
    font-weight: 700;
}